<html>
<head>
    <title>Side Hustle</title>
    <style type="text/css">
.author, .eom { color: grey }

    </style>
</head>
<body>
<h1>Job searching platform for students</h1>
<div class="newfrm">
    <p class="newmsg">New Job:</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post">
    </form>
</div>
<div class="message">
    <p class="author">
        Posted by {{message.author}} at {{message.date}}
    </p>
    <p>{{ message.text }}</p>
</div>
<p class="EOM">(End of messages)</p>
</body>