{% extends 'base.html' %}

{% block title %} SideHustle - Delete Job {% endblock %}

{% block content %}

<h1>Delete Job</h1>

{% if user.is_authenticated %}
{% if user.id == job.publisher.id %}
<h3>Delete: {{ job.title }}</h3>
<hr>
<br/>

<div class="input-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure you want to delete this job?</strong>
        <br/>
        <br/>
        <button class="btn btn-danger"> Delete Job </button>
        <br/>
        <br/>
    </form>
</div>
{% endif %}
{% endif %}

<a href="{% url 'jobs_detailed' job.pk %}" class="btn btn-secondary">Back</a>


{% endblock %}